<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add Customer</title>
</head>
<body>
    <h1>Add Customer</h1>
    <hr/>
    <br/>
    <a href="/">Home</a>
    <a href="/all_customer">All Customers</a>
    <br/>
    <hr/>
    <br/>
    <div>
        <form action="/add_customer" method="post">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" name="firstName" value="" placeholder="First Name"/></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" name="lastName" value="" placeholder="Last Name"/></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" name="phone" value="" placeholder="Phone"/></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" value="" placeholder="Email"/></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button type="submit">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>